html{
  font-family: 'Open Sans', sans-serif;
}
.header{
  padding-bottom: 2em;
}

.cards, .pool_header{
  width: 45%;
  float:left;
  border-right: 1px solid black;
  img{
	  padding: 1em 1em 0 0;
    cursor: pointer;
  }
}

a{
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.deck, .deck_header{
  width: 45%;
  float:left;
  padding-left: 2em;
  img{
	  padding: 1em 1em 0 0;
    cursor: pointer;
  }
}
.toggles{
  float: left;
  width: 100%;
}
.toggles > a{
  padding: 1em;
}
.card{
	width:25%;
}
.card:hover{
	cursor: pointer;
}
.hidden{
  visibility: hidden;
  height: 0px;
}
.full_screen{
  width: 94%;
  border-right: 0;
}
@media print { 
  .deck{
    width: 100%;
  }
  .cards, .header, .section_headers{
    display: none;
  }
}